<div class="card my-4">
    <div class="card-body">
        <h1>About </h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae ipsa iste porro sunt, laborum alias, distinctio pariatur expedita voluptatem iusto rem magnam? Veniam qui nihil numquam enim excepturi labore necessitatibus ducimus! Officiis earum quas sed totam nulla nisi numquam delectus.</p>
    </div>
</div>