<div class="jumbotron my-4 p-5 rounded" style="background-color: white;"> 
    <h1 class="display-4">Note App Node.js and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt officiis consectetur voluptatum! Ex cumque, impedit, consectetur harum laudantium qui adipisci ab sit explicabo in velit doloremque, illum beatae ut maxime?</p>
    <a href="https://christopherwebbfreelancer.netlify.app/" class="btn btn-primary btn-lg">DesarrolloWebb</a>
</div>